﻿@model EightQueenProblem.Models.ChessModel.Chess

<style>
    .dot {
        height: 80%;
        width: 80%;
    }

    table, th, td {
        border: 1px solid #9f9f9f;
    }

    table, td {
        text-align: center;
    }

    #chessboard {
        padding: 0px;
        margin: 0 auto;
        border: 2px solid #7c7c7c;
    }

        #chessboard tr td {
            width: 60px;
            height: 60px;
        }

        #chessboard tr:nth-child(2n) td:nth-child(2n+1) {
            background: #9f9f9f;
        }

        #chessboard tr:nth-child(2n+1) td:nth-child(2n) {
            background: #9f9f9f;
        }
</style>

@*<div>
    TEST 1

    @for (int i = 0; i < @Model.Size; i++)
    {
        <div>TEST  2</div>
    }

</div>*@

<div>
    <table id="chessboard">
        @for (int i = 0; i < Model.Size; i++)
        {
            <tr>
                @for (int j = 0; j < Model.Size; j++)
                {
                    <td>
                        @if (Model.QueenPositions.Any(x => i == x.row && j == x.col))
                        {
                            <img class="dot" src="~/images/queen.png">
                        }
                    </td>
                }
            </tr>
        }
        <br />
    </table>
</div>

@section Scripts{

}

