﻿
@{
    ViewData["Title"] = "Solution8QueenProblem";
}

<style>
    h3 {
        text-align: center;
        color: grey;
        color: #447cff;
    }
</style>

<br />

@*<h3>Enter Chess Board Dimension</h3>
<br />
<div>
    <div class="form-group">
        <input class="form-control inputCustom" id="getSize" />
    </div>
    <button id="getResult" type="button" onclick="startChess()" class="btn btn-default btn-lg btn-block"> Get Result </button>
</div>
<br />*@

<!-- Modal START-->
<button type="button" class="btn btn-default btn-lg" id="myBtn">Solve n-Queens Problem</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <h3>Enter Chess Board Dimension</h3>
                <br />
                <div>
                    <form id="myForm">
                        <input  id="getSize" type="number" min="4" max="10" class="form-control inputCustom" required/>
                    </form>
                    <br />
                    <button id="getResult"  onclick="startChess();" type="button" class="btn btn-primary btn-lg btn-block"> Get Result </button>
                </div>
                <br />
                <div id="textStatus">
                    <p id="textVal" style="text-align:center"></p>
                </div>             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal END-->

<div id="detailsDiv">

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal();
            });
        });       
    </script>

    <script type="text/javascript">
        //VARIABLE DECLARATION
        
        var n = 0;
        var chessBoard = new Array();
        var chessBoardTemp = new Array();       
        
        function startChess() {
            
            console.log("start chess called");           
            n = $('#getSize').val();

            if (isNaN(n) || n <= 3 || n > 10) {
                textValidation = "Input number is not valid. Allowed number is between 4 and 10.";   
                clearInput();
            }
            else {
                textValidation = "Input number is OK.";
                console.log(n);
                createChess();
                find(0, 0);            
                clearInput();
            }
            document.getElementById("textVal").innerHTML = textValidation;
        }

        //CREATE CHESS FUNCTION
        function createChess()
        {
            console.log("create chess called");

            for (let i = 0; i < n; i++) {
                chessBoard[i] = new Array();
                for (let j = 0; j < n; j++) {
                    chessBoard[i][j] = 0;
                }
            }
        }

        //PRINT TEMP CHESSBOARD IN VIEW
        function writeChess(inValue) {
            for (let i = 0; i < n; i++) {
                for (let j = 0; j < n; j++) {
                    document.write("<a>   " + inValue[i][j] + "   <a>");
                }
                document.write("<br />")
            }
            document.write("<br>");
        }

        //COPY FUNCTION
        function copy(inValue) {
            for (let i = 0; i < inValue.length; i++) {
                chessBoardTemp[i] = inValue[i].slice();
            }
            return chessBoardTemp;
        }

        //CHECK FUNCTION FOR FREE POSITION
        function check(row, col) {
            // Checks the up direction
            for (var i = 0; i < row; i++) {
                if (chessBoard[i][col] === 1) {
                    return false;
                }
                //chessBoard[i][col] = 'X';
            }

            // Checks the left diagonal direction
            for (var i = row, j = col; i >= 0 && j >= 0; i-- , j--) {
                if (chessBoard[i][j] === 1) {
                    return false;
                }
            }

            // Checks the right diagonal direction
            for (var i = row, j = col; i >= 0 && j < n; i-- , j++) {
                if (chessBoard[i][j] === 1) {
                    return false;
                }
            }
            return true;
        }

        function getField(inValue)
        {
            var chessBoardFild = new Array();

            for (var i = 0; i < n; i++)
            {
                for (var j = 0; j < n; j++)
                {
                    if (inValue[i][j])
                    {
                        chessBoardFild.push({ row: i, col: j });
                    }
                }
            }
            return chessBoardFild;
        }

        function ViewAllSolution(inValue)
        {
            let combination;
            combination = {
                'Size': n,
                'QueenPositions': getField(inValue)
            }

            console.log(combination);

            $.ajax({
                    url: '@Url.Action("ViewAllSolution", "SolveProblem")',
                    type: "POST",
                    cache: false,
                    contentType: 'application/json',
                    //dataType: "json",
                    data: JSON.stringify(combination),                  

                    success: function (result) {
                        $('#detailsDiv').append(result);
                        console.log("GetChessGame success");
                        hidemodal();
                    },

                    error: function (response) {
                        $('#GetChessGame');
                        console.log("GetChessGame error", response);
                        hidemodal();
                    }
            });
        }

        //REC FILIP
        function find(row, col)
        {

            console.log(row, col, 'Started');

            if (row >= n) {
                var tempSolution = new Array();
                tempSolution = copy(chessBoard);
                //writeChess(tempSolution);
                //this.tempSolution.push(this.tempSolution.slice());
                ViewAllSolution(tempSolution);
                return;
            }

            if (col >= n) {
                return;
            }

            let isValid = check(row, col);

            if (isValid) {
                chessBoard[row][col] = 1;
                find(row + 1, 0);
                console.log(row, col, 'Has continued');
                chessBoard[row][col] = 0;
            }

            this.find(row, col + 1);

            console.log(row, col, 'Done');

        }

        function hidemodal() {
            console.log('Modal hide');
            $('#myModal').modal('hide');
        }

        function clearInput() {
            document.getElementById("myForm").reset();
        }

        function fade_out() {
            $("#textStatus").fadeOut().empty();
        }
    </script>
}